body {
    background-color: #282c34;
}

.App {
    text-align: center;
}

#logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 0;
}

h1 {
    font-size: calc(40px + 3vw);
    margin: 1vw 0;
}

.App-logo {
    height: calc(30px + 4vw);
    pointer-events: none;
}

h3 {
    font-size: calc(10px + 2vw);
    margin-top: 2rem;
}

h2 {
    font-size: calc(20px + 2vw);
    margin: 2rem;
}

.App-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px +4vw);
    color: white;
    margin: 25px;
}

.App-link {
    color: #61dafb;
}

#link-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
  
#link-form input {
    font-size: calc(10px + 0.75vw);
    width: calc(275px + 15vw);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}
  
#link-form button {
    font-size: calc(10px + 1vw);
    width: calc(20px + 15vw);
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    cursor: pointer;
}
  
#link-form button:hover {
    background-color: rgb(219, 1, 1);
}

.result {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 50px;
}

#video-summary {
    width: 50%;
}

#original-video {
    width: 50%;
}

#summary {
    font-size: calc(5px + 2vmin);
    text-align: left;
    margin: 0;
    padding: 2rem 2rem;
    border-radius: 8px;
    background-color: white;
    color: black;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 0;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid red;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #logo-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }

    .App-logo {
        height: calc(30px + 15vw);
    }
    
    h3 {
        font-size: calc(15px + 2vw);
        margin-top: 2rem;
    }

    #link-form {
        flex-direction: column;
        gap: 0.75rem;
    }

    #link-form input {
        font-size: calc(10px + 2vmin);
        width: calc(300px + 5vw);
    }
      
    #link-form button {
        font-size: calc(10px + 2.5vw);
        width: calc(30px + 30vw);
    }

    h2 {
        font-size: calc(25px + 2vw);
    }
}

@media only screen and (max-width: 1200px) {
    .result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 15px;
    }

    #video-summary {
        width: 100%;
    }
    
    #original-video {
        width: 100%;
    }
}